body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 15px;
}

#todo-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

form button {
  background-color: #3498db;
  color: white;
}

#todo-list button {
  background-color: #ddd;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
}

/* Listan */
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}